.a {
	border:2px solid black;
	height:570.px;
	width:650px;
	

}

.b {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	
}
.c {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	background-color:black;
	
	
	
}
.d {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	
	
}
.e {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	background-color:black;
	
}
.f {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	
}
.g {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	background-color:black;
}
.h {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	background-color:black;
	
}
.i {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	
	
	
}
.j{
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	background-color:black;
	
	
}
.k {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	
}
.l {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	background-color:black;
}
.m {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
}
.n {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	
}
.o {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	background-color:black;
	
	
}
.p {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	
	
}
.q {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	background-color:black;
}
.r{
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	
}
.s {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	background-color:black;
}
.t {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	background-color:black;
}
.u {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	
	
}
.v {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
background-color:black;

	
}
.w {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	
}
.x {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	background-color:black;
	
}
.y {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	
}
.z {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	
}
.aa {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	background-color:black;

	
	
}
.bb{
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	
	
}
.cc {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	background-color:black;
	
}
.dd {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	
}
.ee {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	background-color:black;
}
.ff {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	background-color:black;
	
}
.gg {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	
}
.hh {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	background-color:black;
	
}
.ii {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;

}
.jj {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
	background-color:black;
	
}
.kk {
	height:100px;
	width:100px;
	border:1px solid black;
	float:left;
}