.a {
	border:1px solid black;
	height:69%;
	width:65%;
	margin-left:305px;
	margin-top:100px;
	background-color:pink;
    border-bottom-width: 15px;
	border-right-width: 15px;
	
	
}
#first {
    width:500px;
    float:left;
	text-align:center;
	text-align:justify;
}
#second {
	height:150px;
    width:200px;
    float:right;
   background-color:yellow;
}